<meta name="author" content="Leonardo Foletto">
<meta name="keywords" content="antipropiedad,copyleft,copyright,cultura libre,derecho de autor,derechos de autor">
<meta name="description" content="Libro sobre la resistencia contra las restricciones a la cultura, abordado desde la política, la sociología, la antropología y la historia.">
<link rel="alternate" hreflang="eo" href="https://freakspot.net/eo/libro/la-kulturo-estas-libera/la-kulturo-estas-libera.html">
<link rel="license" hreflang="es" href="https://creativecommons.org/licenses/by-sa/4.0/deed.es">
<link rel="icon" href="imagenes/Copyleft.svg">
<meta property="og:title" content="La cultura es libre: Una historia de la resistencia antipropiedad">
<meta property="og:type" content="book">
<meta property="book:author" content="Leonardo Foletto">
<meta property="og:image" content="imagenes/imagen-portada-cultura-libre.png">
<meta property="og:url" content=".">
<meta property="og:description" content="Libro sobre la resistencia contra las restricciones a la cultura, abordado desde la política, la sociología, la antropología y la historia.">
